@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');
h1 {
	font-family: 'Spicy Rice', cursive;
	font-size: 50px;
	margin-bottom: 10px;

}

.topicButton{
	margin: 5px;
}

body{
  background: url('../images/textureback.jpg')

}

#topicInput{
	margin-bottom: 5px;
}

#addTopic{
	margin-bottom: 20px;
}

p{
	font-size: 20px;
	font-weight: bold;
	font-family: Georgia;
}
 .jumbotron{
      background-image: url("../images/disneywork.jpg");
      height: 538px;
      background-size: 1150px;
      background-repeat: no-repeat;
	